:global(body) {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.chartContainer {
  min-height: 300px;
}

.filterContainer {
  max-height: 240px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}
